<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/room.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrum Showdown</title>
</head>
<body>
    <div class="content">
    </div>

    <div class="modal modal--slim">
        <div class="modal__header">
            <h1 contenteditable="true" id="topic">?</h1>
        </div>
        <div class="modal__body modal--flex">
            <div class="row" contenteditable="true" id="roomIdBox">
                Room: {{roomId}}
            </div>

            <div class="row">
                <button class="action toggle-ready" 
                    data-toggle-on="✔️"
                    data-toggle-off="❌"
                    title="Ready"
                    >
                    ❌
                </button>

                <select name="estimate" class="action" title="Estimate">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>5</option>
                    <option>8</option>
                    <option>13</option>
                    <option>☕</option>
                    <option>❓</option>
                    <option>❌</option>
                </select>

                <button class="action thumbsup" title="React with thumbs up">👍</button>
                <button class="action thumbsdown" title="React with thumbs down">👎</button>
                <button class="action request-estimate" title="Request estimates">🃏</button>
                <button class="action toggle-logs" title="Toggle logs">📃</button>

                
                <button class="action toggle-more" 
                    data-toggle-on="▲"
                    data-toggle-off="▼"
                    title="Toggle more"
                    >
                    ▼
                </button>
            </div>

            <div class="hidden" id="logs">
            </div>

            <user-admin class="hidden users" id="users">
            </user-admin>
        </div>
    </div>

    <div class="data">
        <div class="data user-name">{{userName}}</div>
        <div class="data room-id">{{roomId}}</div>
    </div>

    <script src="/bundles/vendors~main.js"></script>
    <script src="/bundles/main.js"></script>
</body>
</html>