<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrum Showdown</title>
</head>
<body>
    <div class="content">
      <div class="modal">
        <div class="modal__title">
          <h1>Scrum Showdown</h1>
        </div>

        <div class="modal__body">
          HTTP {{error.status}} {{message}}
        </div>
      </div>
    </div>
</body>
</html>
