body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: white;
}

a {
    color: white;
}

input, button, select {
    font-family: inherit;
    font-size: inherit;
    margin: 0.25em;
    padding: 0;
    border: none;
    
    min-width: 1.5em;
    min-height: 1.5em;

    border-radius: 1.5em;
    box-shadow: 0 0.15em rgba(0,0,0, 0.5);
    padding: 0.25em;
}

input:active, input:focus, button:active, select:active {
    box-shadow: inset 0 0.15em rgba(0,0,0, 0.5);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    text-align: center;
}

.content {
    background: radial-gradient(circle, rgb(255, 207, 0) 0%, rgb(208, 147, 0) 100%);

    min-width: 100vw;
    min-height: 100vh;

    position: fixed;
    left: 0;
    top: 0;
}

.hand {
    position: fixed;
    top: 0;
    left: 0;
}

.hand__name {
    position: fixed;
    text-align: center;
}

.modal {
    position: fixed;
    top: 50vh;
    left: 50vw;

    transform: translate(-50%, -50%);

    border: 1px solid black;
    border-radius: 1em;
    background-color: rgb(208, 147, 0);

    text-align: center;
    vertical-align: baseline;

    padding: 1em;
}

.modal--slim {
    max-width: 20vmax;
    min-width: 12em;

    max-height: 20vmax;
    overflow-y: auto;
}

.modal--flex {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: inline-flex;
    vertical-align: center;
    width: 100%;
    justify-content: space-around;
}

.data, .hidden {
    display: none;
}

.splash.hidden {
    display: block;
    opacity: 0;
    transition: all 1s ease;

    z-index: -131072;
}

.splash {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 131078;
    background-color: rgba(0,0,0, 0.75);
    position: fixed;
    left: 0;
    top: 0;
    
    opacity: 1;
    transition: all 1s ease;
}

.splash__content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

nice-progress {
    width: 100%;
    display: block;
    padding: 0.25em;
}

.progress {
    display: block;
    background-color: ivory;

    width: 100%;
    height: 1em;
    border-radius: 1em;
    box-shadow: inset 0 0.15em rgba(0,0,0, 0.5);
}

.progress__fill {
    display: flexbox;
    border-radius: 1em;
    background-color: cadetblue;
    width: 35%;
    height: 100%;

    min-width: 3em;
    
    box-shadow: inset 0 -0.15em rgba(0,0,0, 0.5);

    text-align: left;
    padding-left: 0.5em;
    font-size: 0.75em;
    vertical-align: baseline;
}