body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: white;
}

input, button, select {
    font-family: inherit;
    font-size: inherit;
    margin: 0.25em;
    padding: 0;
    border: none;
    
    min-width: 1.5em;
    min-height: 1.5em;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    text-align: center;
}

.content {
    background: radial-gradient(circle, rgb(255, 207, 0) 0%, rgb(208, 147, 0) 100%);

    min-width: 100vw;
    min-height: 100vh;

    position: fixed;
    left: 0;
    top: 0;
}

.hand {
    position: fixed;
    top: 0;
    left: 0;
}

.hand__name {
    position: fixed;
    text-align: center;
}

.modal {
    position: fixed;
    top: 50vh;
    left: 50vw;

    transform: translate(-50%, -50%);

    border: 1px solid black;
    border-radius: 1em;
    background-color: rgb(208, 147, 0);

    text-align: center;
    vertical-align: baseline;

    padding: 1em;
}

.modal--slim {
    max-width: 20vmax;
    min-width: 12em;

    max-height: 20vmax;
    overflow-y: auto;
}

.modal--flex {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: inline-flex;
    vertical-align: center;
    width: 100%;
    justify-content: space-around;
}

.data, .hidden {
    display: none;
}